.main{
    background:cornsilk;
    padding: 25px;
    margin:5%;
}
.items{
    font-family:'Nunito Sans', sans-serif;
    font-size: 16px;
}
h1{
    font-size: 50px;
}
li{
    margin-top: 5%;
    font-weight: bold;
    font-size: 25px;
}
p{
    text-align: justify;
    line-height: 1.6;
    font-size: 20px;
}